.app-banner{
  background:url(../img/banner.png) no-repeat center center;
  color:#fff;
  height:14rem;
  background-size:100% 100%;
  padding:0.5rem;
  box-sizing: border-box;
  line-height:1.8;
  font-size:0.85rem;
  font-weight:200;
}
.tip{
  font-size:0.85rem;
  color:#ff4949;
  text-align:center;
  line-height:1.8;
  &.light{
    color:#fff;
  }
}

.swiper-container {
  width: 100%;
  box-sizing: border-box;
  height:28rem;
  .swiper-slide{
    padding:1rem;
    box-sizing:border-box;
    .card{
      background:#fff;
      padding:1rem;
      box-sizing: border-box;
      text-align:center;
      border-radius:0.5rem;
      .title{
        font-size:1rem;
        color:#00a7ff;
        margin-bottom:1rem;
      }
      img{
        width:80%;
        margin:1rem 0;
      }
    }
  }
  .swiper-pagination-bullet{
    background:rgba(255,255,255,0.8);
    transition:0.3s;
    &.swiper-pagination-bullet-active{
      background:rgba(255,255,255,1);
      width:2rem;
      border-radius:0.5rem;
    }
  }
}


.app-banner-fix{
  padding:0 0 1rem 0;
  text-align:center;
  .badge{
    background:#FF3333;
    display:inline-block;
    color:#fff;
    padding:2px 0.5rem;
    border-radius:1.5rem;
    font-size:0.9rem;
    font-weight:200;
    margin-bottom:0.5rem;
    position: relative;
    img{
      width:3.6rem;
      vertical-align: middle;
    }
    span{
      display:inline-block;
      vertical-align: middle;
    }
  }
}

.photo-graph{
  font-size:0;
  padding:0.25rem;
  li{
    display:inline-block;
    width:50%;
    padding:0.25rem;
    box-sizing:border-box;
    .cover{
      border-bottom:1px solid #E8E8E8;
      border-radius:0.5rem 0.5rem 0 0;
      position: relative;
      overflow:hidden;
      img{
        width:100%;
      }
      .photo{
        display:inline-block;
        width:2rem;
        height:2rem;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        overflow:hidden;
        background:url(../img/camera.png) no-repeat center center;
        background-size:100%;
        input{
          opacity:0;
        }
        &.add{
          background:url(../img/camera1.png) no-repeat center center;
          background-size:100%;
        }
      }
    }
    p{
      background:#fff;
      font-size:0.75rem;
      color:#666;
      text-align:center;
      padding:0.2rem;
      border-radius:0 0 0.5rem 0.5rem;
    }
  }
}