html {
  font-size: calc(100vw/18.75);
}

html, body {
  height: 100%;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: top;
}

details summary::-webkit-details-marker {
  display: none;
}

summary {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, dl {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.app-page {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: 100% 100%;
}
.app-page.light .app-header {
  background: #fff;
}
.app-page.light .app-header .app-back {
  background: url(../img/back1.png) no-repeat center center;
  background-size: 1.2rem;
}
.app-page.light .app-header .app-title {
  color: #333;
}
.app-page .app-tips {
  font-size: 0.85rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}
.app-page .app-tips.warning {
  color: #ffd200;
  font-size: 0.7rem;
}
.app-page .app-header {
  height: 3.2rem;
}
.app-page .app-header .app-back {
  background: url(../img/back.png) no-repeat center center;
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background-size: 1.2rem;
}
.app-page .app-header .app-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.95rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app-page .app-header .app-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
}
.app-page .app-header .app-menu img {
  width: 1.2rem;
}
.app-page .app-view {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(#dfe3ed), to(#f0f4fb));
  background: linear-gradient(bottom, #dfe3ed, #f0f4fb);
}
.app-page .app-view .app-scroller {
  height: 100%;
  overflow: auto;
}
.app-page .app-footer {
  padding: 0.5rem;
  background: #dfe3ed;
  position: relative;
}
.app-page .app-footer.div {
  padding-top: 0.75rem;
}
.app-page .app-footer.div:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0.5rem;
  background: url(../img/bolang.png) no-repeat center center;
  background-size: 100%;
  position: absolute;
  top: -0.25rem;
  left: 0;
  width: 100%;
}

.app-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.app-flex.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.app-flex.vertical.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app-flex.vertical.middle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app-flex.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.app-flex.horizontal.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app-flex.horizontal.middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full {
  width: 100%;
}

.t-c {
  text-align: center;
}

.panel {
  background: rgba(255, 255, 255, 0.6);
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.panel.conner {
  border-radius: 0.5rem;
}

.c-warning {
  color: #ffcc00;
}

.fs-24 {
  font-size: 1.2rem;
}

.c-primary {
  color: #00a7ff;
}

.box {
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 200;
  padding: 1rem;
}
.box.qz {
  background: url(../img/qz.png) no-repeat center center;
  background-size: 100%;
}
.box.wz {
  background: url(../img/wz.png) no-repeat center center;
  background-size: 100%;
}
.box h2 {
  font-size: 1.2rem;
  font-weight: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.box p {
  font-size: 0.9rem;
  font-weight: inherit;
}

.text {
  font-size: 0.8rem;
  color: #4a4a4a;
  padding: 0.5rem 0;
}

.send-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  color: #999;
}
.send-code input, .send-code button {
  border: 1px solid #E4E4E4;
  padding: 0.5rem;
  font-size: inherit;
  color: inherit;
  border-radius: 0.2rem;
  outline: none;
}
.send-code input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex: 1;
}
.send-code button {
  margin-left: 0.5rem;
  background: none;
  padding: 0.42rem;
}

.autograph {
  font-size: 0.75rem;
  color: #999;
  text-align: center;
  border: 1px solid #E7E7E7;
  padding: 2rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
}

.doc h2 {
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 0.5rem;
  font-weight: 600;
}
.doc h3 {
  font-size: 0.75rem;
  font-weight: 600;
}

.dashed {
  display: inline-block;
  border-top: 1px dashed #E4E4E4;
  height: 1px;
  width: 100%;
}
