.select{
  position: relative;
  background:url(../img/select.png) no-repeat 95% center;
  background-size:1rem;
  font-size:inherit;
  width:100%;
  select{
    font-size:inherit;
    color:inherit;
    font-weight:200;
    padding-right:1.1rem;
    outline:none;
    border:1px solid #E4E4E4;
    width:100%;
    background:none;
    padding:0.4rem 1rem;
    width:100%;
    font-family: inherit;
  }
}